* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #3e6795;
}

.whiteboard {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    margin-left: auto;
    margin-right: auto; 

    width: 400px;
    height: 400px;

    color: white;
}


.label-container {
    display: flex;                   
    justify-content: space-between;  
    align-items: center;             
    width: 100%;                     
}
.drawerLabel{
    margin: 10px;
    padding: 1%;
    border-radius: 15px;

    width: 15%;
    height: 50px;

    text-align: center;

    background-color: white;
    border:black 3px solid;
}
.guessInput{
    width: 50%;
    height: 50px;
    border-radius: 15px;

    font-size: xx-large;
    text-align: center;
    
}
.subbut{
    width: 25%;
    height: 50px;
    border-radius: 15px;

    font-size: x-large;
    font-weight: bold;
    text-align: center;

    margin-left: 37.5%;
    margin-bottom: 15px;
    padding: 1%;
    padding-bottom: 3%;

    background-color: rgb(159, 214, 178);
    border:black 3px solid;
}
.subbut:hover{
    border: rgb(0, 255, 76) 3px solid;
}

.colorBut{
    width: 49%;
    height: 50px;
    border-radius: 15px;
    
    font-size: x-large;
    font-weight: bold;

    margin-top: 1%;

    border:black 3px solid;
}
.colorBut:hover{
    border: rgb(83, 83, 255) 5px solid;
}

